body {
	background: #ffffff;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}

html{
	scroll-behavior: smooth;
}

p{
	margin-left:10px;
}
p.project{
	margin-left: 0px;
	margin-top: 5px;
}
a.pan{
	color: #0077ff;
	text-decoration: underline;
	cursor: pointer;
}
a.pan:hover{
	color:#000000;
}
a.btn{
  	transition: 0.1s all linear;
	text-decoration: none;
	cursor: pointer;
	margin: 15px;
	border: 3px solid #ffffff;
	background-color: #ffffff;
  border-radius: 15px;
	scroll-behavior: smooth;
}
a.btn:hover, .btn:focus {
  border: 3px solid #0077ff;
  background-color: #0077ff;
  border-radius: 15px;
  text-decoration: none;
}

.spacer{
	margin-top:10px;
	height:7px;
}

.full_page{
	/*width:50vw;*/
	width:90vw;
	max-width: 986px;

	border-radius:5px;
	margin:auto;
}

#circuit{
	width:100%;
	height:100vh;
	background-color: #333;
	background-image:url(resources/imgs/circuitBanner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#aboutMe{
	background-color:#ffffff;
	background-image:url(resources/imgs/collageBanner.png);
	background-position: center;
	background-repeat:no-repeat;
	background-size:cover;
	padding-top:20px;
	padding-bottom:20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#projects{
	background-color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}
#qualifications{
	padding-top:20px;
	padding-bottom:20px;
	background-color: #333;
	background-image:url(resources/imgs/codeBanner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#memoriam{
	padding-top:20px;
	padding-bottom:20px;
	background-color: #333;
	background-image:url(resources/imgs/poppy.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
#pastWork{
	background-color:#ffffff;
	padding-top:20px;
	padding-bottom:20px;
}
#contactInfo{
	padding-top:20px;
	padding-bottom:20px;
	background-color:#333;
	background-image:url(resources/imgs/unionBanner.jpg);
	background-repeat:no-repeat;
	background-size:cover;
}
div.pageText{
	width:90vw;
	max-width: 986px;
	padding-top:20px;
	background-color:#d1d1d1;
	border-color:#ffffff;
	border:3px solid;
	/*box-shadow:0px 0px 20px 3px #000000;*/
	border-radius:5px;
	margin:auto;
	margin-top: 40px;
}
div.pageBanner{
	width:90vw;
	max-width: 986px;
	background-color:#0077ff;
	border-color:#0077ff;
	border:3px solid;
	/*box-shadow:0px 0px 20px 3px #000000;*/
	border-radius:5px;
	margin:auto;
}
div.terminator{
	width:90vw;
	max-width: 986px;
	padding-top:1px;
	background-color:#d1d1d1;
	border-color:#ffffff;
	border:3px solid;
	/*box-shadow:0px 0px 20px 3px #000000;*/
	border-radius:5px;
	margin:auto;
}
div.wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-content: space-between;
}
div.wrapper2{
	width:90vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	max-width: 986px;
	margin:auto;
	justify-content:center;
}
div.landing-bttn{
	border: 2px solid #ffffff;
  	border-radius: 15px;
  	padding: 5px 20px;
  	color: #0077ff;
  	margin: 0px;
	max-width: 200px;
	background-color:#ffffff;
	font-weight:500;
	font-size:35px;
	text-align: left;
	cursor: pointer;
}
div.main{
	width:90vw;
	max-width: 986px;
	padding-top:1px;
	background-color:#d1d1d1;
	border: 3px solid #000000;
	border-radius:5px;
	margin:auto;
}

h6 span{
	cursor:pointer;
    width:calc(23% - 23px);
	line-height: 40px;
	font-size:30px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom:2px;
	border-bottom:3px solid #0077ff;
	transition: border-color .2s ease-out,border-color .2s ease-out;
	
	margin-left: 15px;
	margin-right: 15px;
}
h6 span.active,h6 span:hover, h6 span:focus{
	padding-bottom:2px;
	border-bottom:3px solid #000000;

}
h6{
	padding-top:15px;
	padding-bottom: 15px;
	width:90%;
	margin:auto;
	text-align:center;
	border-radius:5px;
	background-color:#0077ff;
	color:#fff;
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
div{
	display:block;
}
div.spacing{
	border-top: 2px solid #000000;
	padding-top: 15px;
	margin:auto;
	margin-top:30px;
	width:90%;
}
div.pages{

	padding-top:1px;
	display:none;
	border-color:#ffffff;
	background-color:#ffffff;
	margin:auto;
}
div.shown{
	display:block;
}
div.subSpace{
	border-top: 2px solid #4c4c4c;
	padding-top: 30px;
	margin:auto;
	margin-top:30px;
	width:90%;
	padding-left: 20px;
	padding-right: 20px;
}
.bottom_banner{
	width:860px;
	height:248px;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	background:#000000;
	border-color:#000000;
	border:2px solid;
	border-radius:5px;
	float:left;
}
h1{
	color:#000000;

	border-radius: 5px;
	background-color:#ffffff;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:700;
	font-size:130px;
	text-align: center;

}
h2{
	color:#333;

	background-color:#ffffff;
	border-radius:5px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:700;
	font-size:40px;
	text-align: center;

}
h3{
	color: #0077ff;
	margin-top:0;
	margin-bottom:0px;
	font-weight:400;
	font-size:35px;
	text-align: center;
}
h3.project{
	color: #0077ff;
	margin-top:0;
	margin-bottom:0px;
	font-weight:400;
	font-size:30px;
	text-align: left;
	margin-right: 10px;
}

hr.intro{
	background-color:#000000;
	position:relative;
	top:30px;
	height:1px;
	clear: both;

	margin-left:10px;
	margin-right:10px;
	margin-top:30px;
	margin-bottom:30px;
}
.introductary_text{
	margin-left:10px;
	margin-right:10px;
	margin-bottom:33px;
	margin-top: 10px;
	color:#000000;
}
#bttn{
	width:90vw;
	max-width: 986px;
	height: 200px;
	padding-top: 30vh;
	margin: auto;
	margin-bottom:15px;
	border-radius:5px;
}
div.main_info_scroll{
	transition: 0.1s all linear;
	width:90vw;
	max-width: 986px;
	padding-top:1px;
	background:#f0f0f0;
	/* border-color:#333333; */
	/* border:3px solid #000000; */
	box-shadow: 0px 0px 1px 1px #e4e4e4;
	border-radius:5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
}

a.banner, .banner:focus, .banner:visited{
	text-decoration: none;
	cursor: pointer;
	scroll-behavior: smooth;
	color: inherit;
	max-width: 986px;
	}

a.project, .project:focus, .project:visited{
text-decoration: none;
cursor: pointer;
scroll-behavior: smooth;
color: inherit;
max-width: 986px;
}

div.main_info_scroll:hover, .main_info_scroll:focus{
	width:90vw;
	max-width: 986px;
	padding-top:1px;
	background:#f0f0f0;
	/* border-color:#333333; */
	/* border:3px solid #000000; */
	box-shadow: 0px 0px 2px 2px #0077ff;
	border-radius:5px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left:auto;
	margin-right:auto;
}
div.projectImage{
	margin: 10px;
	width:90vw;
	max-width: 970px;
	padding-left: 10px;

}
div.projectImage img{
	max-width: 200px;
	max-height: 200px;
	margin-top: 3px;
	margin-left: 0px;
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #000000;
	overflow: hidden;
	float:left;
}

b.title{
	font-weight:700;
	color:#0077ff;
	font-size:130px;
}
